#container {
    background-color: rgb(255, 255, 255);    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

#datas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-top: 60px; */
    /* padding-left: 170px; */
}

.data {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(106, 106, 106);
    margin: 20px;
    padding: 30px;
    color: rgb(0, 0, 0);
    /* width: fit-content; */
    width: 100%;
}
